#trigger{
    text-align: center;
    padding-top: 8%;
    background-color: aquamarine;
    overflow: visible;
    height: 30vh;

}
.p-pic{
    width: 200px;
    border-radius: 100%;
}
.p-pic:hover{
    border-radius: 8%;
    transition: border-radius 2s;
    transition-timing-function: ease-in-out;
}
@media (max-width:480px) {
    #trigger{
        height: 30vh ;
    }
    
}
@media (max-width:769px) {
    #trigger{
        height: 33vh ;
    }
    
}
@media (min-width:1025px) {
    #trigger{
        height: 40vh ;
    }
    
}