
    <div id="trigger" class="container-fluid" (click)="Profile()" (click)="Repo()">
        <h1>Click to View</h1>
        <img class="p-pic" src="{{pic}}">
    <div>
    <h3>{{me}}</h3>
    <div>{{ intro }} </div>
    <br>
    <br>
    <div id="port" class="container">
        <h2>{{portfolio}}</h2>
        <div class="row">
          <div class="col-sm">
            <h4>{{project1}}</h4>
          </div>
          <div class="col-sm">
            <h4>{{project2}}</h4>
            
          </div>
          <div class="col-sm">
            <h4>{{project3}}</h4>
            
          </div>
        </div>
      </div>

    